<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>left_wall_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-188,13}</string>
    <key>spriteSize</key>
    <string>{704,1714}</string>
    <key>spriteSourceSize</key>
    <string>{1080,1920}</string>
    <key>textureRect</key>
    <string>{{1442,0},{704,1714}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>left_wall_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-188,13}</string>
    <key>spriteSize</key>
    <string>{704,1714}</string>
    <key>spriteSourceSize</key>
    <string>{1080,1920}</string>
    <key>textureRect</key>
    <string>{{1442,0},{704,1714}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>left_wall_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-253,17}</string>
    <key>spriteSize</key>
    <string>{574,1885}</string>
    <key>spriteSourceSize</key>
    <string>{1080,1920}</string>
    <key>textureRect</key>
    <string>{{2724,0},{574,1885}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>left_wall_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-274,470}</string>
    <key>spriteSize</key>
    <string>{532,732}</string>
    <key>spriteSourceSize</key>
    <string>{1080,1920}</string>
    <key>textureRect</key>
    <string>{{2776,1887},{532,732}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>left_wall_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-188,-182}</string>
    <key>spriteSize</key>
    <string>{704,1555}</string>
    <key>spriteSourceSize</key>
    <string>{1080,1920}</string>
    <key>textureRect</key>
    <string>{{0,1886},{704,1555}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>left_wall_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-227,-304}</string>
    <key>spriteSize</key>
    <string>{626,1311}</string>
    <key>spriteSourceSize</key>
    <string>{1080,1920}</string>
    <key>textureRect</key>
    <string>{{2148,1887},{626,1311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>right_wall_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{253,-17}</string>
    <key>spriteSize</key>
    <string>{574,1885}</string>
    <key>spriteSourceSize</key>
    <string>{1080,1920}</string>
    <key>textureRect</key>
    <string>{{2148,0},{574,1885}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>right_wall_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{188,-13}</string>
    <key>spriteSize</key>
    <string>{704,1716}</string>
    <key>spriteSourceSize</key>
    <string>{1080,1920}</string>
    <key>textureRect</key>
    <string>{{736,0},{704,1716}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>right_wall_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{173,3}</string>
    <key>spriteSize</key>
    <string>{734,1884}</string>
    <key>spriteSourceSize</key>
    <string>{1080,1920}</string>
    <key>textureRect</key>
    <string>{{0,0},{734,1884}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>right_wall_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{227,304}</string>
    <key>spriteSize</key>
    <string>{626,1311}</string>
    <key>spriteSourceSize</key>
    <string>{1080,1920}</string>
    <key>textureRect</key>
    <string>{{1442,1716},{626,1311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>right_wall_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{188,182}</string>
    <key>spriteSize</key>
    <string>{704,1555}</string>
    <key>spriteSourceSize</key>
    <string>{1080,1920}</string>
    <key>textureRect</key>
    <string>{{736,1718},{704,1555}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{3310,3443}</string>
   <key>textureFileName</key>
   <string>wall.png</string>
  </dict>
 </dict>
</plist>
